{% block styles %}
  {# <link rel="stylesheet" href="/src/assets/entry/fixed-button/index.scss"> #}
{% endblock %}

{% extends "@root/layout/base.twig" %}

{% block content %}
  <div>
    Hello
  </div>
{% endblock %}

{% block scripts %}
  {# <script type="module" src="/src/assets/entry/fixed-button/index.ts"></script> #}
{% endblock %}
