@use '~/src/assets/styles/lib/index.scss' as *;

$parent: "header-menu";

@include block($parent) {
  display: flex;
  flex-direction: column;
  background-color: var(--color-green-300);

  @include min-media('d') {
    flex-direction: row;
    padding: var(--container-padding);
  }
}
