@use '~/src/assets/styles/lib/index.scss' as *;

$parent: "link";

@include block($parent) {
  color: var(--link-color, var(--color-beige-100));
  cursor: pointer;

  @media (hover: hover) {
    &:hover:not([disabled]) {
      @include element($parent, "content") {
        transform: translateY(-100%);
      }
    }
  }

  &[disabled] {
    --link-color: var(--color-grey-200);
    cursor: auto;
  }

  @include element($parent, "wrapper") {
    position: relative;
    display: flex;
    overflow: hidden;
  }

  @include element($parent, "content") {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    transform: translateY(0);
    transition: transform 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99);

    &:nth-child(2) {
      position: absolute;
      top: 100%;
      left: 0;
    }
  }

  @include element($parent, 'title') {
    display: var(--link-display-title, inline);
  }

  @include element($parent, 'icon') {
    width: rem(24);
    height: rem(24);
    stroke: var(--link-stroke, var(--color-beige-100));
    fill: transparent;

    &:not(:first-child:last-child) {
      margin-left: var(--link-icon-left, #{rem(8)});
    }
  }

  @include modifier($parent, 'underline') {
    @media (hover: hover) {
      &:hover {
        @include element($parent, "content") {
          transform: translateY(0);
          border-color: var(--link-underline-color-hover, var(--color-beige-100));
        }
      }
    }

    @include element($parent, 'content') {
      border-bottom: 1px solid var(--link-underline-color, var(--color-beige-100-40));
      transition: border-bottom 0.3s;
    }
  }

  @include modifier($parent, 'green') {
    --link-color: var(--color-green-200);
    --link-stroke: var(--color-green-200);
    --link-underline-color: var(--color-green-200-40);
    --link-underline-color-hover: var(--color-green-200);
  }

  @include modifier($parent, 'is-fill') {
    @include element($parent, 'icon') {
      stroke: transparent;
      fill: var(--link-stroke, var(--color-beige-100));
    }
  }

  @include modifier($parent, 'icon-left') {
    @include element($parent, 'icon') {
      order: 1;

      &:not(:first-child:last-child) {
        margin-left: 0;
        margin-right: rem(8);
      }
    }

    @include element($parent, 'title') {
      order: 2;
    }
  }
}
