<button class="button-arrow {{ class }}">
  <span class="button-arrow__wrapper">
    <span class="button-arrow__content">
      <svg class="button-arrow__icon">
        <use xlink:href="/sprite.svg#longArrow"></use>
      </svg>
    </span>
    <span class="button-arrow__content">
      <svg class="button-arrow__icon">
        <use xlink:href="/sprite.svg#longArrow"></use>
      </svg>
    </span>
  </span>
</button>
